{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}

<h1 class="text-center">Area de administrador</h1>

<!-- Botao para Inserir Categoria -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inserirCategoriaModal">
    Inserir Categoria
</button>
<!-- Botao para Inserir Produto -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#inserirProdutoModal">
    Inserir Produto
</button>

<!-- Modal para Inserir Categoria -->
<div class="modal fade" id="inserirCategoriaModal" tabindex="-1" role="dialog" aria-labelledby="inserirCategoriaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{{ url_for('inserir_categoria') }}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="inserirCategoriaLabel">Inserir Nova Categoria</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="categoria_nome">Nome da Categoria</label>
                        <input type="text" class="form-control" id="categoria_nome" name="categoria_nome" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Inserir</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para Inserir Produto -->
<div class="modal fade" id="inserirProdutoModal" tabindex="-1" role="dialog" aria-labelledby="inserirProdutoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{{ url_for('inserir_produto') }}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="inserirProdutoLabel">Inserir Novo Produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <textarea class="form-control" id="descricao" name="descricao" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="preco">Preço (€)</label>
                        <input type="number" step="0.01" class="form-control" id="preco" name="preco" required>
                    </div>
                    <div class="form-group">
                        <label for="imagem">Imagem</label>
                        <input type="file" class="form-control-file" id="imagem" name="imagem" accept="image/*" required>
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoria</label>
                        <select class="form-control" id="categoria" name="categoria" required>
                            {% for categoria in categorias %}
                                <option value="{{ categoria[0] }}">{{ categoria[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>                                        
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Inserir</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Tabela de Produtos -->
{% for categoria_id, produtos in produtos_por_categoria.items() %}
    <h2>{{ categorias[categoria_id] }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td><img src="{{ url_for('static', filename='imgs/' ~ produto[4]) }}" alt="{{ produto[1] }}" style="width: 100px; height: auto;"></td>
                <td>{{ produto[1] }}</td>
                <td>{{ produto[2] }}</td>
                <td><strong>€ {{ '%.2f' | format(produto[3]) }}</strong></td>
                <td>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="">
                        Alterar
                    </button>
                    <form action="{{ url_for('delete_produtos', id=produto[0]) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Apagar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% if not produtos %}
<p class="text-center">Desculpe, o cardápio está vazio no momento.</p>
{% endif %}


<!-- Tabela de Mensagens -->
{% if mensagens %}
    <h2>Mensagens recebidas</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Mensagem</th>
                <th>Data</th>
                <th>Estado</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for mensagens in mensagens %}
            <tr>
                <td>{{ mensagens[0] }}</td>
                <td>{{ mensagens[1] }}</td>
                <td>{{ mensagens[2] }}</td>
                <td>{{ mensagens[3] }}</td>
                <td>{{ mensagens[4] }}</td>
                <td>
                    {% if mensagens[5] is none %}
                    Pendente
                    {% elif mensagens[5] == 1 %}
                    Tratado
                    {% endif %}
                </td>
                <td>
                    <form action="{{ url_for('tratar_mensagem', id=mensagens[0] )}}" method="post" style="display:inline;">
                        {% if mensagens[5] == 1 %}
                        <button type="submit" class="btn btn-warning">Rever</button>
                        {% else %}
                        <button type="submit" class="btn btn-danger">Tratar</button>
                        {% endif %}
                        <a href="mailto:{{ mensagens[1] }}?subject=RE:%20Pedido%20de%20contacto%20id:{{ mensagens[0] }}" class="btn btn-primary">Responder</a>
                    </form>                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if not mensagens %}
<p class="text-center">Não existem mensagens para apresentar.</p>
{% endif %}

<!-- Tabela de Reservas -->

{% if reservas %}
    <h2>Reservas</h2>
    <div class="row">
        {% for reserva in reservas %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Reserva: {{ reserva[0] }}</h5>
                        <p class="card-text">
                            Cliente: {{ reserva[1] }} ({{ reserva[2] }})<br>
                            Dia: {{ reserva[3] }} às {{ reserva[4] }}<br>
                            Número de Pessoas: {{ reserva[5] }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Nenhuma reserva encontrada.</p>
{% endif %}



{% endblock %}