<body>
    <!-- Vídeo de fundo para telas maiores -->
    <video autoplay loop muted playsinline id="background-video-desktop" class="background-video">
      <source src="{{ url_for('static', filename='videos/background_home.mp4') }}" type="video/mp4">
      Seu navegador não suporta vídeos HTML5.
    </video>

    <!-- Vídeo de fundo para telas menores (celular) -->
    <video autoplay loop muted playsinline id="background-video-mobile" class="background-video">
      <source src="{{ url_for('static', filename='videos/background_mobile.mp4') }}" type="video/mp4">
      Seu navegador não suporta vídeos HTML5.
    </video>

    {% extends "base.html" %}

    {% block title %}Início{% endblock %}

    {% block content %}
    <a href="#menu" class="scroll-down">
        <i class="bi bi-arrow-down-circle"></i>
    </a>

    <div class="hero-section">
        <div class="hero-content">
            <h1>Seja Bem-vindo ao Grão d'Areia</h1>
            <p>O melhor da praia dos Pescadores!</p>
            <div class="hero-buttons">
                <a href="/cardapio" class="btn btn-outline-light">Nosso Cardápio</a>
                <a href="/reservas" class="btn btn-light">
                    <i class="bi bi-calendar-check"></i> Reservar uma Mesa
                </a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
